.navbarContainer {
    background-color: #BF1300;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 56px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 56px;
}
.logo a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}
.nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.nav .TextoNav{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
.carrito{
    color: #fff;
}