/* APP.JS General */
.App {
  text-align: center;
}

/* NAVBAR */
.navbarBg{
  background-color: #BF1300;
}
/* CARTWIDGET */
.cartWidget{
  color: #fff;
  width: 24px;
  height: 24px;
}
/* TIPOGRAFIAS */
.fw-400{
  font-weight: 400;
}